<h1>Editando Federação</h1>
<div class="row title-row">
  <div class="col-md-3 title-line">
  </div> <!--col-md-3 -->
</div> <!--row -->

<%= render 'form' %>

<%= link_to 'Show', @federation %> |
<%= link_to 'Back', federations_path %>
