<h1> <%= @federation.formal_name %> </h1>
<div class="row title-row">
  <div class="col-md-3 title-line">
  </div> <!--col-md-3 -->
</div> <!--row -->


<strong>CNPJ:</strong><%= @federation.cnpj %></br>
<strong>Site:</strong><%= @federation.site %></br>


<%= link_to "Home", federations_path %>