
<h1> <%= @ej.formal_name %> </h1>


<strong>CNPJ:</strong><%= @ej.cnpj %></br>
<strong>Site:</strong><%= @ej.site %></br>

<%= link_to "Home", ejs_path, class: "btn btn-default" %>
<!--<i class="icon-large icon-search"></i> -->
