body{
  background-color: #CFF8C2 ; //verde claro.
  margin-top: -65px;
  magin-botton: 65px;
}

.margin-top{
  margin-top:1.5em
}

//nav-bar collor
//$navbar-default-bg: #98FB98;
.navbar{
  background: #98FB98;
  border: none;
  border-raius: 0;
  font-weight: 300;
  a{
    //color: 
  }
  .navbar-logo{
  //  width: 31px;
    height: 33px;
    // Put logo upper. 
  }
  .navbar-nav{
    margin-top: 4px;
    margin-bottom:4px;
  }
  margin-botton: 0;
  
}

.inline{
  display: inline-block;
}

//botton:
.btn{
  text-transform: uppercase;  
}

/*
//Button with same paramters of btn-default; WITH ERROR
// http://css-tricks.com/the-extend-concept/
.btn-a{
  //@extends .btn btn-default;
 // &:extend(.btn btn-default all);
}

// Exemple button with a star: 
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> Star
</button>

.btn-confirm{

}

.btn-delete{

}

.btn-edit{

}
*/
.title-login{
  //font-size: 18px;
}

.title-row{
  //font-size: 18px;
}

.title-line{
  background-color: #FFC217;
  height: 3px;
}