<p>Olá, <%= @resource.email %>!</p>

<p>Alguém pediu um link para alterar sua senha. Você pode fazer isso através do link abaixo:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não tenha solicitado a alteração de senha, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acessar o link acima e criar um nova.</p>
